/* Fonts */
/* PT-SERIF - Regular: 400 | Bold: 700 */
$titleStack: "Montserrat";

/* NEUZEIT - Light: 300 | Regular: 400 | Bold: 700 | Black: 900 */
$textStack: "Montserrat";

/* Colors */
$white: #FFFFFF;
$mainBlue: #00a3da;
$mainGreen: #7ed321;
$mainOrange: #ed8a23;
$darkblue: #292d78;
$darkblueInactive: rgba(41, 45, 120, 0.4);
$midnight: #02010a;
$bgGrey: #f5f6f6;
$mainPurple: #922a7d;
$inputColor: #9b9b9b;
$inputPlaceholder: #c4c4c4;
$warmGrey: #8c8c8c;
$subtitlePrimary: #5e6b74;
$subtitleSecondary: #c4c4c4;
$mainBorder: #d7d8d8;
$listBgOdd: #f3f5f5;
$red: #d0021b;
$gold: #e0c66a;
$silver: #afafaf;
$bronze: #cd7f32;
$goldExtra: blue;

/* Gradients */
$purpleGradient: linear-gradient(123deg, #892273, #00a3da);
