.modal{
  position: fixed;
  background-color:rgba(255,255,255,0.7);
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .modal__inner{
    background:$white;
    padding:25px;
    border:1px solid #ddd;
    border-radius: 2px;
    position: relative;
    @include media(">768px"){ width:75%; }
    @include media("<=768px"){ width:95%; }

    max-height:80vh;
    overflow: auto;
  }

  .modal__close{
    position: absolute;
    right:20px;
    top:20px;
  }
